# IDE folders
.vscode/
.idea/
# add any others here...

# Common ignores
*.pyc
*.swp
*.swo

# Ignore Apple
.DS_Store

# Ignore VirtualEnv
venv/*

.cache
.coverage
htmlcov
docs/build

scoring_engine.egg-info

# Ignore implemented config file
engine.conf

# Ignore common IDE folders
.idea/
.vscode/
