body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;
}

.navbar-collapse h4 {
  color: #818a91;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: #eceeef;
}
.social a:hover {
  color: #fff;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

.expand-button {
  cursor: pointer;
}

#overview_api_reference {
  padding-top: 10px;
  text-align:center;
}

#hint {
  font-style: italic;
  padding-top: 10px;
  text-align:center;
}

.md-page {
    background: #fff;
    padding: 0px 25px 25px 25px;
    margin-top: 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    max-width: 95%;
    margin-bottom: 15px;
}

a.editable-click {
    border-bottom: none;
}

.middle-page {
    max-width: 95%;
}

.settings_middle_column {
  width: 18%;
}

.permission-switch > input[type="checkbox"] {
    display: none;
}

.permission-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.permission-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.permission-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.permission-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.permission-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.lefthand-nav {
    width: 20%;
}