{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-collapse navbar-inverse" style="border-radius: 0 !important">
  <div class="navbar-inner">
    <ul class="nav navbar-nav">
      <li class="navbar-item {% if request.path == '/admin/status' %}active{% elif request.path == '/admin' %}active{% endif %}"><a class="nav-link"  href="/admin/status">Round Status</a></li>
      <li class="navbar-item {% if request.path == '/admin/manage' %}active{% endif %}"><a class="nav-link" href="/admin/manage">Manage Teams</a></li>
      <li class="navbar-item {% if request.path == '/admin/stats' %}active{% endif %}"><a class="nav-link" href="/admin/stats">Stats</a></li>
      <li class="navbar-item {% if request.path == '/admin/services' %}active{% endif %}"><a class="nav-link" href="/admin/services">Manage Services</a></li>
    </ul>
  </div>
</nav>
{% block admincontent %}
{% endblock %}
{% endblock %}