{% extends 'base.html' %}
{% block content %}
<div class="container md-page">
  <div class="row">
    <div class="col-sm-3 lefthand-nav" style="padding-top: 10px;">
      <div class="list-group text-center mb-3">
          <button type="button" class="btn btn-secondary btn-lg" id="engine_toggle">
            <i class="bi bi-pause-fill" aria-hidden="true"></i> Pause
          </button>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <span>Stats <i class="bi bi-list-ul float-end"></i></span>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action {% if request.path == '/admin/status' %}active{% endif %}"
            href="/admin/status" id="engine">Engine</a>
          <a class="list-group-item list-group-item-action {% if request.path == '/admin/workers' %}active{% endif %}"
            href="/admin/workers">Workers</a>
          <a class="list-group-item list-group-item-action {% if request.path == '/admin/queues' %}active{% endif %}"
            href="/admin/queues">Queues</a>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <span>Settings <i class="bi bi-gear float-end"></i></span>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action {% if request.path == '/admin/settings' %}active{% endif %}"
            href="/admin/settings">Competition</a>
          <a class="list-group-item list-group-item-action {% if request.path == '/admin/sla' %}active{% endif %}"
            href="/admin/sla">SLA & Scoring</a>
          <a class="list-group-item list-group-item-action {% if request.path == '/admin/permissions' %}active{% endif %}"
            href="/admin/permissions">Website Permissions</a>
          <a class="list-group-item list-group-item-action {% if request.path == '/admin/manage' %}active{% endif %}"
            href="/admin/manage">Users</a>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <span>Communication <i class="bi bi-megaphone float-end"></i></span>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action {% if request.path == '/admin/announcements' %}active{% endif %}"
            href="/admin/announcements">Announcements</a>
          <a class="list-group-item list-group-item-action {% if request.path == '/admin/welcome' %}active{% endif %}"
            href="/admin/welcome">Welcome Page</a>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <span>Injects <i class="bi bi-file-earmark float-end"></i></span>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action {% if request.path == '/admin/injects/templates' %}active{% endif %}"
            href="/admin/injects/templates">Templates</a>
          <a class="list-group-item list-group-item-action {% if request.path == '/admin/injects/scores' %}active{% endif %}"
            href="/admin/injects/scores">Scores</a>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <span>Services <i class="bi bi-list-task float-end"></i></span>
        </div>
        <div class="list-group list-group-flush">
          {% for team in blue_teams %}
          <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="collapse"
            data-bs-target="#services_team{{team.id}}">{{team.name}}</a>
          <div id="services_team{{team.id}}"
            class="sublinks collapse {% if service and team.id == service.team.id %}show{% endif %}">
            {% for service in team.services %}
            <a href="/admin/service/{{service.id}}"
              class="list-group-item list-group-item-action small {% if service and request.path == '/admin/service/{0}'.format(service.id) %}active{% endif %}"><i
                class="bi bi-chevron-right"></i> {{service.name}}</a>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card">
        <div class="card-header bg-body-secondary">
          <h2 class="card-title mb-0">
            {% block header %}{% endblock %}
          </h2>
        </div>
        <div class="card-body border-top pt-0">
          {% block admincontent %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function getEngineStatus() {
    $.ajax({
      cache: false,
      url: '/api/admin/get_engine_paused',
      dataType: 'json',
      success: function (data) {
        if (!data.paused) {
          document.getElementById('engine').innerHTML = 'Engine <span class="badge bg-success">Running</span>';
          document.getElementById('engine_toggle').innerHTML = '<i class="bi bi-pause-fill" aria-hidden="true"></i> Pause'
          document.getElementById('engine_toggle').className = "btn btn-danger btn-lg";
        } else {
          document.getElementById('engine').innerHTML ='Engine <span class="badge bg-secondary">Paused</span>';
          document.getElementById('engine_toggle').innerHTML = '<i class="bi bi-play-fill" aria-hidden="true"></i> Resume'
          document.getElementById('engine_toggle').className = "btn btn-success btn-lg";
        }
      }
    });
  }

  $(document).ready(function () {
    getEngineStatus();
    setInterval(function () {
      getEngineStatus()
    }, 30000);
  });
</script>
<script>
  $("#engine_toggle").click(function(){
    $.ajax({
      cache: false,
      url: '/api/admin/toggle_engine',
      dataType: 'json',
      type: 'POST',
      success: function (data) {
        getEngineStatus();
      }
    });
  });
</script>
{% endblock %}