{% extends 'admin/adminbase.html' %}
{% block title %}Admin - Manage Teams{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
{% endblock %}
{% block admincontent %}
<div class="container">
  <div class="row">
    <h2 class="text-center">Update Password</h2>
    <form>
      <div class="form-group">
        <select class="selectpicker" data-width="fit" id="userSelect">
          {% for user in users %}
          <option value="{{ user.id }}">{{ user.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Update Password</button>
    </form>

  </div>
</div>
{% endblock %}