{% extends 'admin/adminbase.html' %}
{% block title %}Admin - Status{% endblock %}
{% block admincontent %}
<div class="round_status_bars">
  <h4>Current Round Status</h4>
  <span>Round Progress</span>
  <div class="progress">
      <div id="TotalPercent" class="progress-bar progress-bar-striped active " role="progressbar" aria-valuenow="0"
      aria-valuemin="0" aria-valuemax="100" style="width:0%">
          <span>0%</span>
      </div>
  </div>
  {% for team in blue_teams %}
    <span>{{team.name}}</span>
    <div class="progress">
      <div id="{{team.name}}Percent" class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span>0%</span>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<script>
  function getProgress(){
      $.getJSON('/api/admin/get_round_progress', function(data) {
          $.each(data, function(key, val) {
              $("#" + key + "Percent").css('width', val + "%").attr('aria-valuenow', val);
              $("#" + key + "Percent span").text(val + "%");
              if (val < 30) {
                  $("#" + key + "Percent").attr('class', 'progress-bar progress-bar-striped active progress-bar-danger');
              } else if (val < 70) {
                  $("#" + key + "Percent").attr('class', 'progress-bar progress-bar-striped active progress-bar-warning');
              } else {
                  $("#" + key + "Percent").attr('class', 'progress-bar progress-bar-striped active progress-bar-success');
              }
          });
      });
  }

  $(document).ready(function() {
      getProgress()
  });

  setInterval(getProgress, 3000);
</script>
{% endblock %}
