{% extends 'admin/adminbase.html' %}
{% block title %}Admin - {{service.name}} - {{service.team.name}}{% endblock %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='vendor/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/dataTables.bootstrap.min.js') }}"></script>
<link href="{{ url_for('static', filename='vendor/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" />

<script src="{{ url_for('static', filename='vendor/js/bootstrap-editable.min.js') }}"></script>
<link href="{{ url_for('static', filename='vendor/css/bootstrap-editable.css') }}" rel="stylesheet" />

<script>
  $.fn.editable.defaults.mode = 'inline';
  $(function () {
    //enable / disable
    $('#enable').click(function () {
      $('.editable-table .editable').editable('toggleDisabled');
    });

    //editables
    $('.editable-textfield').editable({
      type: 'text',
      validate: function (value) {
        if ($.trim(value) == '') return 'This field is required';
      }
    });

    //editables
    $('.editable-dropdown').editable({
      type: 'select',
      validate: function (value) {
        if ($.trim(value) == '') return 'This field is required';
      }
    });

    $('.editable-table .editable').on('hidden', function (e, reason) {
      if (reason === 'save' || reason === 'nochange') {
        var $next = $(this).closest('tr').next().find('.editable');
        if ($('#autoopen').is(':checked')) {
          setTimeout(function () {
            $next.editable('show');
          }, 300);
        } else {
          $next.focus();
        }
        $('.password').text("************");
      }
    });
  });

  $(document).ready(function () {
    $('.password').text("************");
  });
</script>
{% endblock %}

{% block header %}{{service.team.name}} - {{service.name}}{% endblock %}

{% block admincontent %}
<table>
  <tr>
    <td style="width: 250px; padding-right: 30px;">
      <h4>Host: <a href="#" class="editable-textfield" data-type="text" data-pk="{{service.id}}" data-title="Enter Host"
          data-name="host" data-url="{{url_for('api.admin_update_host')}}">{{service.host}}</a></h4>
      <h4>Port: <a href="#" class="editable-textfield" data-type="text" data-pk="{{service.id}}"
          data-title="Enter Port Number" data-name="port"
          data-url="{{url_for('api.admin_update_port')}}">{{service.port}}</a></h4>

      <h4>Accounts</h4>
      {% if service.accounts %}
      <table class="table table-striped table-bordered table-compact editable-table" style="clear: both">
        <thead>
          <tr>
            <th>Username</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          {% for account in service.accounts %}
          <tr>
            <td width="10%"><a href="#" class="editable-textfield" data-type="text" data-pk="{{account.id}}"
                data-title="Enter Username" data-name="username"
                data-url="{{url_for('api.update_service_account_info')}}">{{account.username}}</a></td>
            <td width="90%"><a href="#" class="editable-textfield password" data-type="text" data-pk="{{account.id}}"
                data-title="Enter Password" data-name="password"
                data-url="{{url_for('api.update_service_account_info')}}">{{account.password}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      No Accounts Found.
      {% endif %}
    </td>
    <td>
      <h4>Worker Queue Name</h4>
      <a href="#" class="editable-textfield" data-type="text" data-pk="{{service.id}}"
        data-title="Enter Worker Queue Name" data-name="worker_queue"
        data-url="{{url_for('api.admin_update_worker_queue')}}">{{service.worker_queue}}</a>
      <h4>Points</h4>
      <a href="#" class="editable-textfield" data-type="text" data-pk="{{service.id}}"
        data-title="Enter Points per successful check" data-name="points"
        data-url="{{url_for('api.admin_update_points')}}">{{service.points}}</a>
    </td>
  </tr>
</table>


<h4>Environments</h4>
{% if service.environments %}
<table class="table table-striped table-bordered table-compact" style="clear: both">
  <thead>
    <tr>
      <th>Matching Content</th>
      <th>Properties</th>
    </tr>
  </thead>
  <tbody>
    {% for environment in service.environments %}
    <tr>
      <td width="25%"><a href="#" class="editable-textfield" data-type="text" data-pk="{{environment.id}}"
          data-title="Enter Matching Content" data-url="{{url_for('api.admin_update_environment')}}"
          data-name='matching_content'>{{environment.matching_content}}</a></td>
      <td>
        {% if environment.properties %}
        <table class="table table-striped table-bordered table-compact" style="clear: both">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {% for property_obj in environment.properties %}
            <tr>
              <td width="10%"><a href="#" class="editable-textfield" data-type="text" data-pk="{{property_obj.id}}"
                  data-title="Enter Property Name" data-url="{{url_for('api.admin_update_property')}}"
                  data-name='property_name'>{{property_obj.name}}</a></td>
              <td width="50%"><a href="#" class="editable-textfield" data-type="text" data-pk="{{property_obj.id}}"
                  data-title="Enter Property Value" data-url="{{url_for('api.admin_update_property')}}"
                  data-name='property_value'>{{property_obj.value}}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        No Properties Found.
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
No Environments Found.
{% endif %}

<h4>Checks</h4>
<table id="checks" class="table table-striped table-bordered table-compact" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="details-control sorting_disabled" rowspan="1" colspan="1" style="width: 51.1px;" aria-label=""></th>
      <th>Round</th>
      <th>Result</th>
      <th>Reason</th>
      <th>Command</th>
      <th>Timestamp</th>
    </tr>
  </thead>
</table>

<script>
  $(document).ready(function () {
    // Disable datatables error reporting
    $.fn.dataTable.ext.errMode = 'none';

    var dt = $('#checks').DataTable({
      "ajax": "/api/service/{{ service.id }}/checks",
      "columns": [{
        "class": "details-control",
        "orderable": false,
        "data": null,
        "defaultContent": "",
        "width": "5%",
      },
      {
        "data": "round",
        "width": "10%"
      },
      {
        "data": "result",
        "width": "5%",
        "render": function (data, type, row) {
          if (data) {
            return "<a href=\"#\" class=\"editable-dropdown\" data-pk=\"" + row['id'] + "\" data-value=\"1\" data-source='[{value: 1, text: \"Pass\"}, {value: 2, text: \"Fail\"}]' data-title=\"Select Result\" data-url=\"{{url_for('api.admin_update_check')}}\" data-name='check_value'>Pass</a>";
          } else {
            return "<a href=\"#\" class=\"editable-dropdown\" data-pk=\"" + row['id'] + "\" data-value=\"2\" data-source='[{value: 1, text: \"Pass\"}, {value: 2, text: \"Fail\"}]' data-title=\"Select Result\" data-url=\"{{url_for('api.admin_update_check')}}\" data-name='check_value'>Fail</a>";
          }
        }
      },
      {
        "data": "reason",
        "width": "30%",
        "render": function (data, type, row) {
          return "<a href=\"#\" class=\"editable-textfield\" data-type=\"text\" data-pk=\"" + row['id'] + "\" data-title=\"Enter Reason\" data-url=\"{{url_for('api.admin_update_check')}}\" data-name='check_reason'>" + data + "</a>"
        }
      },
      {
        "data": "command",
        "width": "20%",
      },
      {
        "data": "timestamp",
        "width": "30%",
      }
      ],
      'paging': true,
      'bFilter': false,
      'bInfo': false,
      "order": [
        [1, 'desc']
      ]
    });

    // Array to track the ids of the details displayed rows
    var detailRows = [];

    $('#checks tbody').on('click', 'tr td.details-control', function () {
      var tr = $(this).closest('tr');
      var row = dt.row(tr);
      var idx = $.inArray(tr.attr('id'), detailRows);

      if (row.child.isShown()) {
        tr.removeClass('shown');
        row.child.hide();

        // Remove from the 'open' array
        detailRows.splice(idx, 1);
      } else {
        tr.addClass('shown');
        row.child("<pre style=\"max-height: 350px; min-height: 10px;\">" + row.data().output + "</pre>").show();

        // Add to the 'open' array
        if (idx === -1) {
          detailRows.push(tr.attr('id'));
        }
      }
    });

    dt.on('draw', function () {
      //editables
      $('#checks .editable-textfield').editable({
        type: 'text',
        validate: function (value) {
          if ($.trim(value) == '') return 'This field is required';
        }
      });

      //editables
      $('#checks .editable-dropdown').editable({
        type: 'select',
        validate: function (value) {
          if ($.trim(value) == '') return 'This field is required';
        }
      });

      // On each draw, loop over the `detailRows` array and show any child rows
      $.each(detailRows, function (i, id) {
        $('#' + id + ' td.details-control').trigger('click');
      });
    });
  });
</script>
{% endblock %}