{% extends 'admin/adminbase.html' %}
{% block title %}Admin - Competition Settings{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block header %}Competition Settings{% endblock %}

{% block admincontent %}
<div class="pt-3">
  <form method="POST" action="{{ url_for('api.admin_update_target_round_time') }}" role="form">
    <div class="mb-3 row align-items-center">
      <label for="target_round_time" class="col-sm-3 col-form-label text-sm-end">Target Round Time (s)</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" class="form-control" id="target_round_time" name="target_round_time"
            value="{{ target_round_time|safe }}" required />
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
      <div class="col-sm-6">
        <span class="form-text text-muted">Determines how long the engine should target for round length.</span>
      </div>
    </div>
  </form>

  <form method="POST" action="{{ url_for('api.admin_update_worker_refresh_time') }}" role="form">
    <div class="mb-3 row align-items-center">
      <label for="worker_refresh_time" class="col-sm-3 col-form-label text-sm-end">Worker Refresh Time (s)</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" class="form-control" id="worker_refresh_time" name="worker_refresh_time"
            value="{{ worker_refresh_time|safe }}" required />
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
      <div class="col-sm-6">
        <span class="form-text text-muted">Determines how long the engine sleeps between iterations of checking for finished checks.</span>
      </div>
    </div>
  </form>

  <h3 class="section-header">Page Content</h3>

  <form method="POST" action="{{ url_for('api.admin_update_welcome_page_content') }}" role="form">
    <div class="mb-3 row">
      <label for="welcome_page_content" class="col-sm-3 col-form-label text-sm-end">Welcome Page Content</label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="10" id="welcome_page_content"
          name="welcome_page_content" placeholder="Insert Welcome Page Content Here"
          required>{{ welcome_page_content|safe }}</textarea>
        <div class="form-text">This text shows up on the <a href="/">home page</a>.</div>
        <button type="submit" class="btn btn-primary mt-2">Save</button>
      </div>
    </div>
  </form>

  <form method="POST" action="{{ url_for('api.admin_update_about_page_content') }}" role="form">
    <div class="mb-3 row">
      <label for="about_page_content" class="col-sm-3 col-form-label text-sm-end">About Page Content</label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="8" id="about_page_content"
          name="about_page_content" placeholder="Insert About Page Content Here"
          required>{{ about_page_content|safe }}</textarea>
        <div class="form-text">This text shows up on the <a href="/about">about page</a>.</div>
        <button type="submit" class="btn btn-primary mt-2">Save</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
