{% extends 'admin/adminbase.html' %}
{% block title %}Admin - Status{% endblock %}
{% block admincontent %}
<div class="engine_stats">
  <h4>Engine Stats</h4>
  <table class="table table-striped table-bordered table-compact">
    <tbody>
      <tr>
        <td>Round</td>
        <td id="round_number"></td>
      </tr>
      <tr>
        <td>Passed Checks</td>
        <td id="num_passed_checks"></td>
      </tr>
      <tr>
        <td>Failed Checks</td>
        <td id="num_failed_checks"></td>
      </tr>
      <tr>
        <td>Total Checks</td>
        <td id="total_checks"></td>
      </tr>
    </tbody>
  </table>
</div>
<script>
  function getEngineStats() {
      $.ajax({
          url: '/api/admin/get_engine_stats',
          dataType: 'json',
          success: function(data) {
              $('#round_number').text(data.round_number);
              $('#num_passed_checks').text(data.num_passed_checks);
              $('#num_failed_checks').text(data.num_failed_checks);
              $('#total_checks').text(data.num_passed_checks);
          }
      });
  }

  $(document).ready(function() {
      getEngineStats();
      setInterval(function(){
        getEngineStats()
      }, 5000);
  });


</script>
{% endblock %}