{% extends 'admin/adminbase.html' %}
{% block title %}Admin - Round Stats{% endblock %}

{% block admincontent %}
<!-- Engine Stats -->
<div class="card my-2">
  <div class="card-header">
    <div class="fs-5">Engine Stats</div>
  </div>
  <div class="card-body">
    <div class="engine_stats">
      <table class="table">
        <tbody>
          <tr>
            <td>Round</td>
            <td id="round_number"></td>
          </tr>
          <tr>
            <td>Passed Checks</td>
            <td id="num_passed_checks"></td>
          </tr>
          <tr>
            <td>Failed Checks</td>
            <td id="num_failed_checks"></td>
          </tr>
          <tr>
            <td>Total Checks</td>
            <td id="total_checks"></td>
          </tr>
        </tbody>
      </table>
    </div>    
  </div>
</div>

<!-- Current Round Status -->
<div class="card my-2">
  <div class="card-header">
    <div class="fs-5">Current Round Status</div>
  </div>
  <div class="card-body">
    <div class="round_status_bars">
      <span>Round Progress</span>
      <div class="progress">
        <div id="TotalPercent" class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar" style="width: 0%">
          <span>0%</span>
        </div>
      </div>
      {% for team in blue_teams %}
      <span>{{team.name}}</span>
      <div class="progress">
        <div id="{{team.name}}Percent" class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar" style="width: 0%">
          <span>0%</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  function getEngineStats() {
    $.ajax({
      cache: false,
      url: '/api/admin/get_engine_stats',
      dataType: 'json',
      success: function (data) {
        $('#round_number').text(data.round_number);
        $('#num_passed_checks').text(data.num_passed_checks);
        $('#num_failed_checks').text(data.num_failed_checks);
        $('#total_checks').text(data.total_checks);
      }
    });
  }

  $(document).ready(function () {
    getEngineStats();
  });
  setInterval(function () {
      getEngineStats()
  }, 5000);
</script>
<script>
  function getProgress() {
    $.getJSON('/api/admin/get_round_progress', function (data) {
      $.each(data, function (key, val) {
        $("#" + key + "Percent").css('width', val + "%").attr('aria-valuenow', val);
        $("#" + key + "Percent span").text(val + "%");
        if (val < 100) {
          $("#" + key + "Percent").attr('class', 'progress-bar progress-bar-striped bg-warning progress-bar-animated');
        } else {
          $("#" + key + "Percent").attr('class', 'progress-bar progress-bar-striped bg-success progress-bar-animated');
        }
      });
    });
  }

  $(document).ready(function () {
    getProgress()
  });
  setInterval(function () {
    getProgress()
  }, 5000);
</script>
{% endblock %}