{% extends 'admin/adminbase.html' %}
{% block title %}Admin - Teams{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}
{% block admincontent %}

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                {% for team in teams %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{team.id}}">
                            </span>{{team.name}}</a>
                        </h4>
                    </div>
                    <div id="collapse{{team.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                {% for service_obj in team.services %}
                                <tr>
                                    <td>
                                        <a href="/admin/service/{{service_obj.id}}">{{service_obj.name}}</a></span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
        INFO ABOUT EDITING
        </div>
    </div>
</div>

{% endblock %}