{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container md-page">
  <div class="row">
    <h3>Version: {{version}}</h3>
    <h3><a href="https://github.com/pwnbus/scoring_engine/wiki/Installation">Setup your own!</a></h3>
    <h3><a href="https://github.com/pwnbus/scoring_engine">Contribute</a></h3>
    <h3><a href="https://github.com/pwnbus/scoring_engine/issues/new">File a bug</a></h3>
  </div>
</div>
{% endblock %}
