{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container md-page" style="padding-bottom: 0px;">
  <div class="row">
  {{about_content|safe}}
  </div>
  <br>
  <div class="col-sm-8 col-sm-offset-2 text-center" >
    <ul class="list-inline center-block">
      <li><h5><a href="https://scoringengine.readthedocs.io/en/latest/installation.html">Setup your own!</a></h5></li>
      <li><h5>Version: {{version}}</h5></li>
      <li><h5><a href="https://github.com/scoringengine/scoringengine/issues/new">File a bug</a></h5></li>
    </ul>
  </div>
</div>
{% endblock %}
