{% extends 'base.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
<nav class="navbar navbar-collapse navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <ul class="nav navbar-nav">
      <li class="navbar-item"><a class="nav-link"  href="#">Round Status</a></li>
      <li class="navbar-item"><a class="nav-link" href="#">Manage Teams</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    Engine Stats:
    <table>
      <tbody>
        <tr>
          <td># in Worker Queue</td>
          <td>100</td>
        </tr>
        <tr>
          <td># in Finished Queue</td>
          <td>2000</td>
        </tr>
        <tr>
          <td>Round #</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Round #</td>
          <td>10</td>
        </tr>
        <tr>
          <td># of Passed Checks</td>
          <td>1000</td>
        </tr>
        <tr>
          <td># of Failed Checks</td>
          <td>400</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}