{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container md-page">
    <form method="POST" role="form" class="form-signin">
        {{ form.csrf_token }}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        {{ form.username() }}
        <label for="inputPassword" class="sr-only">Password</label>
        {{ form.password() }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
{% endblock %}
