{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container md-page" style="padding-bottom: 0px;">
  <div class="page-header">
    <h3>Notifications</h3>
  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-body">
      <ul class="nav nav-tabs">
        <li role="navigation" {% if request.path=='/notifications/unread' %}class="active" {% endif %}><a
            href="/notifications/unread">Unread{% if notification_count %} <span class="badge">{{ notification_count
              }}</span>{% endif %}</a></li>
        <li role="navigation" {% if request.path=='/notifications/read' %}class="active" {% endif %}><a
            href="/notifications/read">Read</a></li>
      </ul>
      <!-- Table -->
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>
              <a href="/admin/injects/1">An inject is ready to be graded</a>
            </td>
            <td>Team 1</td>
            <td>Journey to Mordor</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
    // Query API for notifications
    $.ajax({
      url: "/api/notifications",
      success: function (result) {
        // Append new files
        $.each(result.data, function (index, value) {
          files += "<p><a href='/" + value.id + "/download'>" + value.name + "</a></p>";
        });

        // Update navbar
        $("#files").html(files);
        console.log(files);
      },
      error: function (result) {
        console.error("An Error Occurred Querying For Files");
      }
    });
</script>
{% endblock %}