{% extends 'base.html' %}

{% block content %}
  <div class="top-pad">
    <table class="table table-hover">
     <thead>
      <tr>
        <th>Team #</th>
        <th>Score</th>
        {% for service in header_services %}
          <th>{{service.name}}</th>
        {% endfor %}
      </tr>
     </thead>
     <tbody>
      {% for team in blue_teams %}
        <tr>
          <td>{{team.name}}</td>
          <td>1000</td>
          {% for service in team.services %}
            <td class="label-danger">Fail</td>
          {% endfor %}
        </tr>
      {% endfor %}
     </tbody>
    </table>
  </div>
{% endblock %}
