{% extends 'base.html' %}
{% block title %}Overview{% endblock %}
{% block content %}
  <div class="top-pad">
    <table class="table table-hover">
     <thead>
      <tr>
        <th>Team #</th>
        <th>Score</th>
        {% for service in header_services %}
          <th>{{service.name}}</th>
        {% endfor %}
      </tr>
     </thead>
     <tbody>
      {% for team in blue_teams %}
        <tr>
          <td>{{team.name}}</td>
          <td>{{team.current_score()}}</td>
          {% for service in team.services %}
            {% if service.last_check_result() %}
              <td class="label-success">Pass</td>
            {% else %}
              <td class="label-danger">Fail</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
     </tbody>
    </table>
  </div>
{% endblock %}