{% extends "base.html" %}
{% block title %}Scoreboard{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='css/Chart.bundle.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle">
            <canvas id="pointsByTeamBar" width="1000px" height="400px"></canvas>
        </div>
    </div>
    <hr>
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle">
            <canvas id="teamLine" width="1000px" height="400px"></canvas>
        </div>
    </div>
    <script>
        var ctx = document.getElementById("pointsByTeamBar");
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{team_labels|safe}},
                datasets: [{
                    label: 'Points',
                    data: {{team_scores|safe}},
                    backgroundColor: {{scores_colors|safe}},
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        var teamLineData = {
            labels: {{round_labels|safe}},
            datasets: [
                {% for key, value in team_data.items() %}
                {
                    label: '{{ value['label'] }}',
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: "rgba(0, 0, 0, 0)",
                    borderColor: "{{ value['color'] }}",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "{{ value['color'] }}",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: {{ value['data'] }},
                    // data: [0, 100, 200],
                    spanGaps: false,
                },
                {% endfor %}
            ]
        };
    </script>
    <script>
        var ctxTeamLine = document.getElementById("teamLine");
        var myLineChart = new Chart(ctxTeamLine, {
            type: 'line',
            data: teamLineData
        });
    </script>
    <script>
        (function updateLineGraph() {
            $.ajax({
                url: '/api/scoreboard/get_line_data',
                dataType: 'json',
                success: function(data) {
                    $.each(data['team'], function(key, value) {
                        myLineChart.data.datasets[key-1].data = value.data;

                    });
                    myLineChart.data.labels = data['round'];
                    myLineChart.update();

                },
                error: function(data) {
                    console.log("Error: " + JSON.stringify(data));
                }
            }).then(function() {
                setTimeout(updateLineGraph, 5000);
            });
        })();
    </script>
    <script>
        (function updateBarGraph() {
            $.ajax({
                url: '/api/scoreboard/get_bar_data',
                dataType: 'json',
                success: function(data) {
                    myBarChart.data.datasets[0].data = data['scores'];
                    myBarChart.data.labels = data['labels'];
                    myBarChart.update();
                },
                error: function(data) {
                    console.log("Error: " + JSON.stringify(data));
                }
            }).then(function() {
                setTimeout(updateBarGraph, 5000);
            });
        })();
    </script>
</div>
{% endblock %}
