{% extends "base.html" %}
{% block title %}Scoreboard{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendor/js/Chart.bundle.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container md-page">
    <div class="row">
        <canvas id="pointsByTeamBar" width="1000px" height="400px"></canvas>
    </div>
    <hr>
    <div class="row">
        <canvas id="teamLine" width="1000px" height="400px"></canvas>
    </div>
    <script>
        var myBarChart = new Chart(document.getElementById("pointsByTeamBar"), {
            type: 'bar',
            options: {
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.yLabel;
                        }
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        (function updateBarGraph() {
            $.ajax({
                cache: false,
                url: '/api/scoreboard/get_bar_data',
                dataType: 'json',
                success: function(data) {
                    myBarChart.data.datasets = [
                        {
                            'label': 'Points',
                            'data': data['scores'],
                            'backgroundColor': data['colors'],
                            'borderWidth': 2
                        }
                    ]
                    myBarChart.data.labels = data['labels'];
                    myBarChart.update();
                },
                error: function(data) {
                    console.log("Error: " + JSON.stringify(data));
                }
            }).then(function() {
                setTimeout(updateBarGraph, 30000);
            });
        })();
    </script>
    <script>
        var myLineChart = new Chart(document.getElementById("teamLine"), {
            type: 'line',
        });

        (function updateLineGraph() {
            $.ajax({
                cache: false,
                url: '/api/scoreboard/get_line_data',
                dataType: 'json',
                success: function(data) {
                    myLineChart.data.datasets = []
                    $.each(data['team'], function(key,value) {
                        myLineChart.data.datasets.push(value);
                    })
                    myLineChart.data.labels = data['round'];
                    myLineChart.update();
                },
                error: function(data) {
                    console.log("Error: " + JSON.stringify(data));
                }
            }).then(function() {
                setTimeout(updateLineGraph, 30000);
            });
        })();
    </script>
</div>
{% endblock %}
