{% extends "base.html" %}
{% block title %}Scoreboard{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendor/js/Chart.bundle.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container md-page">
    <div class="row">
        <canvas id="pointsByTeamBar" width="1000px" height="400px"></canvas>
    </div>
    <hr>
    <div class="row">
        <canvas id="teamLine" width="1000px" height="400px"></canvas>
    </div>
    <script>
        var ctx = document.getElementById("pointsByTeamBar");
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        (function updateBarGraph() {
            $.ajax({
                cache: false,
                url: '/api/scoreboard/get_bar_data',
                dataType: 'json',
                success: function(data) {
                    myBarChart.data.datasets = [
                        {
                            'label': 'Points',
                            'data': data['scores'],
                            'backgroundColor': data['colors'],
                            'borderWidth': 2
                        }
                    ]
                    myBarChart.data.labels = data['labels'];
                    myBarChart.update();
                },
                error: function(data) {
                    console.log("Error: " + JSON.stringify(data));
                }
            }).then(function() {
                setTimeout(updateBarGraph, 30000);
            });
        })();

        // var ctxTeamLine = document.getElementById("teamLine");
        // var myLineChart = new Chart(ctxTeamLine, {
        //     type: 'line',
        // });

        // (function updateLineGraph() {
        //     $.ajax({
        //         cache: false,
        //         url: '/api/scoreboard/get_line_data',
        //         dataType: 'json',
        //         success: function(data) {
        //             alert(data.keys)
        //             myBarCmyLineCharthart.data.datasets[0].data = data['scores']
        //             myLineChart.data.datasets[0].backgroundColor = data['colors']

        //             // myLineChart.data = data;
        //             // $.each(data['team'], function(key, value) {
        //                 // myLineChart.data.datasets[key-1].data = value.data;
        //             // });
        //             // alert(myLineChart.data.)
        //             // myLineChart.data.labels = data['round'];
        //             myLineChart.update();

        //         },
        //         error: function(data) {
        //             console.log("Error: " + JSON.stringify(data));
        //         }
        //     }).then(function() {
        //         setTimeout(updateLineGraph, 30000);
        //     });
        // })();
    </script>
</div>
{% endblock %}
