{% extends 'base.html' %}
{% block title %}Service{% endblock %}
{% block head %}
    {{ super() }}
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h3>{{service.name}}</h3>
    <h4>IP Address: {{service.ip_address}}</h4>
    {% if service.accounts %}
      <h4>Accounts</h4>
      <table id="accounts" class="table table-striped table-bordered table-compact" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Username</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          {% for account in service.accounts %}
            <tr>
              <td>{{account.username}}</td>
              <td>{{account.password}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
    {% endif %}
    <h4>Checks</h4>
    <table id="checks" class="table table-striped table-bordered table-compact" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th></th>
          <th>Round</th>
          <th>Result</th>
          <th>Timestamp</th>
        </tr>
      </thead>
    </table>
    <script>
        /* Formatting function for row details - modify as you need */
        function format ( d ) {
            return "<pre>"+d.output+"</pre>";
        }

        $(document).ready(function() {
            var table = $('#checks').DataTable( {
                "ajax": {
                  "url": "/api/service/get_checks/{{ id }}",
                  "type": 'GET'
                },
                "columns": [
                    {
                        "className":      'details-control',
                        "orderable":      false,
                        "data":           null,
                        "defaultContent": ''
                    },
                    { "data": "round" },
                    {
                      "data": "result",
                      "render": function( data ) {
                        return (data == true) ? '<span class="label label-success">UP</span>' : '<span class="label label-danger">DOWN</span>';
                      }
                    },
                    { "data": "timestamp" }
                ],
                'order': [[1, 'desc']],
                // 'paging': false,
                // 'bFilter': false,
                // 'bInfo': false
            } );

            // Add event listener for opening and closing details
            $('#checks tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child( format(row.data()) ).show();
                    tr.addClass('shown');
                }
            } );

        } );
    </script>
  </div>
</div>
{% endblock %}