{% extends 'base.html' %}
{% block title %}Stats{% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='vendor/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/dataTables.bootstrap.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/dataTables.bootstrap.min.css') }}" />
{% endblock %}
{% block content %}
<div class="container-fluid md-page">
    <div class="row">
        <h2 class="text-center">Round Stats</h2>
    </div>
    <div class="row">
        <table id="stats" class="table table-striped table-bordered table-compact" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Round</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Duration (Seconds)</th>
                    <th>Service Ratio</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    $('#stats').DataTable( {
        ajax: '/api/stats',
        order: [[0, 'desc']],
        columns: [
            { data: 'round_id' },
            { data: 'start_time' },
            { data: 'end_time' },
            { data: 'total_seconds' },
        ],
        "columnDefs": [{
            "targets": 4,
            "data": null,
            "render": function ( data, type, row, meta ) {
                return row.num_up_services + ' <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> / ' + row.num_down_services + ' <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>';
            }
        }]
    } );
</script>
{% endblock %}