{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/album.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
  <h1 class="text-center">Diamond Sponsors</h1>
</div>
<div class="row">
  <div class="card">
    <img class="center-block" src="http://placehold.it/280x100" alt="Card image cap">
    <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card">
    <img class="center-block" src="http://placehold.it/280x100" alt="Card image cap">
    <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card">
    <img class="center-block" src="http://placehold.it/280x100" alt="Card image cap">
    <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
</div>
<div class="row">
  <h1 class="text-center">Platinum Sponsors</h1>
</div>
<div class="row">
  <div class="card">
    <img class="center-block" src="http://placehold.it/280x100" alt="Card image cap">
    <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card">
    <img class="center-block" src="http://placehold.it/280x100" alt="Card image cap">
    <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card">
    <img class="center-block" src="http://placehold.it/280x100" alt="Card image cap">
    <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
</div>
<div class="row">
  <h1 class="text-center">Gold Sponsors</h1>
</div>
<div class="row">
  <div class="card">
    <img class="center-block" src="http://placehold.it/280x100" alt="Card image cap">
    <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card">
    <img class="center-block" src="http://placehold.it/280x100" alt="Card image cap">
    <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card">
    <img class="center-block" src="http://placehold.it/280x100" alt="Card image cap">
    <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
</div>
<div class="row">
  <h1 class="text-center">Bronze Sponsors</h1>
</div>
<div class="row">
  <div class="card">
    <img class="center-block" src="http://placehold.it/280x100" alt="Card image cap">
    <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card">
    <img class="center-block" src="http://placehold.it/280x100" alt="Card image cap">
    <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card">
    <img class="center-block" src="http://placehold.it/280x100" alt="Card image cap">
    <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
</div>
{% endblock %}