[Unit]
Description=Scoring-Engine Engine Service
After=syslog.target

[Service]
Type=simple
User=engine
Group=engine
Environment=ENGINE_ROOT=/home/engine/scoring_engine
ExecStart=/bin/bash -c 'source ${ENGINE_ROOT}/env/bin/activate; ${ENGINE_ROOT}/src/bin/engine'
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scoring_engine-engine

[Install]
WantedBy=multi-user.target
