[Unit]
Description=Scoring-Engine Web Service
After=syslog.target

[Service]
Type=simple
User=engine
Group=engine
Environment=ENGINE_ROOT='/home/engine/scoring_engine'
ExecStart=/bin/bash -c 'source ${ENGINE_ROOT}/env/bin/activate; uwsgi -H ${ENGINE_ROOT}/env/ --enable-threads -p 4 --socket 127.0.0.1:5000 --buffer-size 32768 --post-buffering 8192 --wsgi-file ${ENGINE_ROOT}/src/bin/web'
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scoring_engine-web

[Install]
WantedBy=multi-user.target
