[Unit]
Description=Scoring-Engine Web Service
After=syslog.target

[Service]
Type=simple
User=engine
Group=engine
WorkingDirectory=/home/engine/scoring_engine/
ExecStart=/bin/bash -c 'source /home/engine/scoring_engine/env/bin/activate; uwsgi -H /home/engine/scoring_engine/env/ --http 127.0.0.1:5000 --wsgi-file /home/engine/scoring_engine/src/run.py'
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

[Journal]
Storage=persistent