[Unit]
Description=Scoring-Engine Worker Service
After=syslog.target

[Service]
Type=simple
User=engine
Group=engine
Environment=ENGINE_ROOT='/home/engine/scoring_engine'
ExecStart=/bin/bash -c 'source ${ENGINE_ROOT}/env/bin/activate; ${ENGINE_ROOT}/src/bin/worker'
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scoring_engine-worker

[Install]
WantedBy=multi-user.target
