name: Build and Push Docker Images

on:
  push:
    branches:
      - master
    tags:
      - 'v*'

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Extract version and tag
        id: vars
        run: |
          if [[ "${{ github.ref }}" == refs/heads/master ]]; then
            echo "branch=master" >> $GITHUB_ENV
            echo "image_tag=develop" >> $GITHUB_ENV
            echo "extra_tags=" >> $GITHUB_ENV
          elif [[ "${{ github.ref }}" == refs/tags/* ]]; then
            version="${{ github.ref }}"  # refs/tags/vX.X.X
            version=${version#refs/tags/}  # Strip refs/tags/
            echo "branch=tag" >> $GITHUB_ENV
            echo "image_tag=$version" >> $GITHUB_ENV
            echo "extra_tags=latest" >> $GITHUB_ENV
          else
            echo "branch=other" >> $GITHUB_ENV
            echo "image_tag=" >> $GITHUB_ENV
            echo "extra_tags=" >> $GITHUB_ENV
          fi

      - name: Build and push base image
        if: env.image_tag != ''
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/base/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ github.repository }}/base:${{ env.image_tag }}
            ${{ env.extra_tags != '' && format('ghcr.io/{0}/base:latest', github.repository) || '' }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push bootstrap image
        if: env.image_tag != ''
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/bootstrap/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository }}/base:${{ env.image_tag }}
          tags: |
            ghcr.io/${{ github.repository }}/bootstrap:${{ env.image_tag }}
            ${{ env.extra_tags != '' && format('ghcr.io/{0}/bootstrap:latest', github.repository) || '' }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push engine image
        if: env.image_tag != ''
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/engine/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository }}/base:${{ env.image_tag }}
          tags: |
            ghcr.io/${{ github.repository }}/engine:${{ env.image_tag }}
            ${{ env.extra_tags != '' && format('ghcr.io/{0}/engine:latest', github.repository) || '' }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push web image
        if: env.image_tag != ''
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/web/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository }}/base:${{ env.image_tag }}
          tags: |
            ghcr.io/${{ github.repository }}/web:${{ env.image_tag }}
            ${{ env.extra_tags != '' && format('ghcr.io/{0}/web:latest', github.repository) || '' }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push worker image
        if: env.image_tag != ''
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/worker/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository }}/base:${{ env.image_tag }}
          tags: |
            ghcr.io/${{ github.repository }}/worker:${{ env.image_tag }}
            ${{ env.extra_tags != '' && format('ghcr.io/{0}/worker:latest', github.repository) || '' }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
