name: Publish Docker Images

on:
  push:
    branches:
      - "master"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push base image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/base/Dockerfile
          push: true
          tags: scoringengine/base:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max