name: Tests
on:
  push:
    branches: [master]
  pull_request:
    branches: ["**"]
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # - name: Set up Docker Compose
      #   run: |
      #     sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
      #     sudo chmod +x /usr/local/bin/docker-compose
      #     docker-compose --version

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install -r tests/requirements.txt

      # - name: Build Docker images
      #   run: make build

      - name: Run unit tests
        run: make run-tests

      - name: Run integration tests
        # run: make run-integration-tests
        run: ./tests/integration/run.sh

      - name: Upload coverage data to coveralls.io
        run: coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
