name: Tests
on:
  push:
    branches: [master]
  pull_request:
    branches: ["**"]
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"
          cache-dependency-path: |
            pyproject.toml
            tests/requirements.txt

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install -r tests/requirements.txt

      - name: Run unit tests
        run: pytest -v -n auto --cov=scoring_engine tests/

      - name: Upload coverage data to coveralls.io
        run: coveralls --service=github
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run integration tests
        run: ./tests/integration/run.sh
